# ignore IDE files
*.pyc
*.swp
.idea/
.vscode/
__pycache__/
*.egg-info/

# extra module
build/
dist/
.ninja*
build.ninja
*.so
*.o

# jupyter
.ipynb_checkpoints/

# pytorch_lightning
/lightning_logs/
lightning_logs/*

# pretrained models
/pretrained_models/
pretrained_models/*
/trained/
/refign_hrda_daformer_cs_darkzurich/
/plabelsave/
/mixlabelsave/
/mixpresave/
/labelsave/
/docs/
caculate_labelnum.py
